[user]
  name = Justin Downing
  email = justin@downing.us
[color]
  ui = auto
[color "branch"]
  current = yellow black
  local = yellow
  remote = magenta
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red
  new = green
  whitespace = white reverse
[color "status"]
  added = yellow
  changed = green
  untracked = cyan reverse
  branch = magenta
[push]
  default = tracking
[rerere]
  enabled = true
[alias]
  up = pull --rebase
  st = status
[credential]
  credentialhelper = osxkeychain
[core]
	editor = vim
