[user]
	name = Justin Downing
	email = justin@downing.us
[color]
	ui = auto
[color "branch"]
	current = yellow black
	local = yellow
	remote = magenta
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red
	new = green
	whitespace = white reverse
[color "status"]
	added = yellow
	changed = green
	untracked = cyan reverse
	branch = magenta
[push]
	default = tracking
[rerere]
	enabled = true
[alias]
	up = pull --rebase
	st = status
	hist = log --all --graph --pretty='[%C(cyan)%h%Creset]%C(bold cyan)%d%Creset %s'
[credential]
	credentialhelper = osxkeychain
[core]
	editor = vim
